<h1>Contracts wating for your confirmation</h1>

<% @contracts.each do |c| %>

	<% User.where(id: c.contractor_id).each do |p| %>
		<%= p.firstname %>
		<%= p.lastname %>
	<% end %>
	
<%= form_for :contract, :url => contract_confirmation_path(:contract_id => c.id) do |f| %>		
        <%= f.hidden_field :contract_id, value: c.id %>
        <%= f.submit "Accept the Tour Request" %>
		<% end %>

<% end %>