<h1>Signup!</h1>

<%= form_for :user, url: '/users' do |f| %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :password %> 
  <%= f.password_field :password %>

  <%= f.label :password_confirmation%> 
  <%= f.password_field :password_confirmation %>

  <%= f.label :firstname %>
  <%= f.text_field :firstname %>

  <%= f.label :lastname%>
  <%= f.text_field :lastname %>

  <%= f.label :city %>
  <%= f.text_field :city %>

  <%= f.label :state %>
  <%= f.text_field :state %>

  <%= f.label :country %>
  <%= f.text_field :country %>

  <%= f.label :bio %>
  <%= f.text_field :bio %>

  <%= f.hidden_field :tour_guide, value: false %>

  <%= f.submit "Submit" %>

<% end %>

<%= link_to "Back", new_session_path %>